#master_delete_form {
    height: 18px;
    line-height: 18px;
}

.master_delete_btn {
    border: none;
    background: none;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
}

.master_sort_btn {
    border: none;
    background: none;
    color: #FFF;
    font-size: 13px;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
    font-weight: bold;
}