.analyze_wrap h1 {
  color: #fff;
  font-size: 20px; }
.analyze_wrap .analyze_navi {
  width: 890px;
  line-height: 30px;
  margin-top: -6px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  padding: 10px 0 10px 20px;
  margin-left: 20px; }
  .analyze_wrap .analyze_navi li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 140px; }
    .analyze_wrap .analyze_navi li a {
      font-size: 15px;
      color: #fff;
      text-decoration: underline; }
.analyze_wrap h1, .analyze_wrap .analyze_navi {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }
/*.analyze_wrap h2 {*/
/*  background: #fff;*/
/*  position: absolute;*/
/*  right: 30px;*/
/*  top: 0;*/
/*  font-size: 16px;*/
/*  padding: 10px 100px;*/
/*  border-radius: 0 0 5px 5px; }*/
.analyze_wrap .analyze_info_inner {
  border: 1px solid #fff;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  min-height: 520px;
}
  .analyze_wrap .analyze_info_inner dl {
    margin-top: 100px; }

/*# sourceMappingURL=analyze.css.map */

.analyze_btn button {
  position: absolute;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 2px 40px;
  bottom: 16px;
  right: 10px;
}

/*----------------------
集計結果ページ
------------------------*/
.analyze_result_inner {
  background: #fff;
  color: #231815;
  font-size: 15px;
  margin-top: 20px;
  padding: 50px 100px;
  font-family: "A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.btn_export {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}
/*ヘッダー*/

.analyze_result_header ul {
  border-bottom: solid 1px #231815;
}

.analyze_result_header li {
  display: inline-block;
  padding-bottom: 7px;
}

.analyze_result_header li.title {
  padding-right: 20px;
}

.analyze_result_header li.count {
   padding-left: 50px;
}

.analyze_result_header li.num {
  float: right;
}

.analyze_result_header li.rate {
  float: right;
  padding-right: 45px;
}

/*トップ*/

.analyze_result_contents {
    overflow: hidden;
}

.analyze_result_top {
  margin: 40px 0 10px;
}

.analyze_result_top dt {
  display: inline-block;
  width: 15%;
  margin-bottom: 35px;
  font-weight: 500;
  text-align: center;
}

.analyze_result_top dd {
  display: inline-block;
  width: 17%;
  margin-bottom: 35px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  vertical-align: bottom;
}

.brown_box {
  background: #231815;
  color: #fff;
  border-radius: 5px;
  padding: 5px 7px 8px;
}

.brown_box.btm {
  display: block;
  text-align: left;
  line-height: 1.6;
  padding: 2px 10px 3px;
}

/*内容*/

.analyze_result_block {
  display: inline-block;
  width: 50%;
  margin-top: 50px;
  vertical-align: top;
  float: left;
}

.analyze_result_contents table {
  width: 80%;
  text-align: left;
}

.analyze_result_contents table tr:last-child {
  border-top : solid 1px #231815;
  line-height: 1.9;
}

.first th,
.first td {
  font-weight: bold !important;
  padding-bottom: 15px !important;
}

.analyze_result_contents table th {
  font-weight: normal;
  padding-bottom: 10px;
}

.analyze_result_contents table td {
  text-align: center;
}

.number {
  width: 10%;
}

.number_time {
  width: 25%;
}

.area_num {
    width: 48%;
    text-align: right !important;
}

/*成功率*/

span.recruit_rate {
  border: solid 1px;
  padding: 3px 9px 4px;
}

.analyze_list {
  width: 40% !important;
  margin-top: 40px;
}

.analyze_list li {
  line-height: 2;
  margin-bottom: 15px;
}

.analyze_list tr:last-child {
  border: none !important;
  line-height: 1.5 !important;
}

.analyze_list th {
  padding-bottom: 30px !important;
}

/*検索ワード*/

.brown_box.word {
  width: 200px;
  display: block;
  text-align: left;
  line-height: 1.6;
  padding: 2px 10px 3px;
  margin: 50px 0 0px 45px;
}

#analyze_word table tr:last-child {
  border-top : none!important;
  line-height: 1 !important;
}

#analyze_word table tr:nth-child(1)  {
    border-bottom : solid 1px #231815;
}

#analyze_word table tr:nth-child(2) th{
  padding-top: 10px;
}


/*月間集計*/

.monthly_num {
  width: 49%;
  text-align: right !important;
}

table.mon_tbl01 tr:last-child {
  border-bottom : solid 1px #231815;
}

table.mon_tbl01 tr:last-child {
  border-top : none!important;
  line-height: 1 !important;
}

table.mon_tbl02 tr:first-child th {
  padding-top: 10px;
}

table.mon_tbl02 tr:last-child {
  border-top : solid 1px #231815;
}

table.mon_tbl02 tr:last-child td{
  padding-top: 5px;
}

.brown_box.mon {
  width: 200px;
  display: block;
  text-align: left;
  line-height: 1.6;
  padding: 2px 10px 3px;
  margin-bottom: 20px;
}

.monthly_result ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.analyze_alert {
  color: #fff;
}
