body{
    background-color: #001537;
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 62.5%;
}

#container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 100;
}

header h1{
    background: url(../img/login-logo.png) no-repeat;
    width: 86px;
    height: 89px;
    display: inline-block;
    text-indent: -100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 32px;
}

header p{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 32px;
}

#login{
    font-size: 1.2rem;
}

#login ul{
    margin-bottom: 32px;
}

#login li{
    margin-bottom: 16px;
}

#login label{
    width: 80px;
    display: inline-block;
    padding: 8px 0;
    text-align: left;
    margin-right: 4px;
}

#login input[type="text"], #login input[type="password"]{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 240px;
}

#login input[type="submit"]{
    background-color: #ff731e;
    border-radius: 6px;
    padding: 8px 32px;
    color: #fff;
    border: 0 none;
}
#login input[type="submit"]:focus{
    outline: none;
}
#login input[type="submit"]:active{
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: inset 0 0 0 20px rgba(0,0,0,0.2);
}
footer{
    position: absolute;
    width: 100%;
    bottom: 5%;
    z-index: 99;
    font-size: 1.1rem;
}
