@charset "UTF-8";

/*======================
  検索条件
========================*/

article#search {
	
	margin-bottom: 5%;
	overflow: hidden;
}

#search h1{
	padding-left: 0;
}

.search_info_col {
    font-size: 1.4rem;
    background: #001537;
    padding: 20px 30px 100px;
    margin-bottom: 50px;
    position: relative;
    min-height: 35vw;
	overflow: hidden;
}

/*検索ボタン*/

.search_btn {
    position: absolute;
    right: 21px;
    top: 0;
}

.search_btn button  {
	color: #fff;
    font-size: 16px;
    border: none;
    padding: 2px 40px;
    margin-top: 25px;
}

/*selectの大きさ*/

.select_h {
  width: 27%;
}

.select_mail {
  width: 48%;
}

.select_yen {
	width: 33%;
}

.select_word {
	width: 32%;
}

/*input textの大きさ*/

.input_name {
    width: 140px !important;
}
.input_saraly {
    width: 76px !important;
}

/*white_boxの大きさ*/

.white_box.search {
    padding: 10px 24px 20px;
    width: 11.5%;
}

.white_box.search2 {
    padding: 10px 33px 20px;
    width: 26.5%;
}

.white_box.search3 {
    padding: 10px 16px 20px;
    width: 7.5%;
}

.white_box.search4 {
    padding: 10px 22px 20px;
    width: 10%;
}

.select_other_txt2 {
    color: #001537;
    font-size: 14px;
    font-weight: bold;
    padding-left: 29px;
}

/*ボックス内補助テキスト*/

.search_select_txt {
  color: #001537;
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}

.search_select_txt.space {
	padding-left: 10px;
}

/*店舗スタッフのラジオボタン*/

.tenpo_radio input {
    position: absolute;
    top: 28px;
    left: 11px;
    height: 23px;
}

.tenpo_label {
    color: #001537;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 24px 0 10px 31px;
}

/*チェックボックス*/

.checkbox_serch {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 24px 0 10px;
}

.checkbox_serch-sqar{
	display: none;
	clear: both;
}

span.checkbox_serch-txt{
	padding-left: 20px !important;
	position:relative;
	font-size: 1.4rem;
}

.checkbox_serch-txt::before{
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
	width: 12px;
	height: 12px;
	border: 1px solid #999;
}
.checkbox_serch-sqar:checked + .checkbox_serch-txt::after{
  	content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 4px;
    width: 6px;
    height: 11px;
    transform: rotate(40deg);
    border-bottom: 2px solid #001537;
    border-right: 2px solid #001537;
}

/*======================
  検索条件の結果
========================*/
.search_col {
	margin: 20px 0;
	position: relative;
    background: #001537;
}
.search_col h1,
.search_col h2 {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding-left: 20px !important;
	line-height: 1.4;
}

.search_col h2
 {
	font-size: 25px;
	font-weight: normal;
}

.num_hit {
	font-size: 36px;
	font-weight: bold;
	color: #ffff25;
}

.yellow {
	color: #ffff25;
}

/*検索ボタン*/

.search_btn2 {
    position: absolute;
    right: 21px;
    top: 0;
}

.search_btn2 button  {
	color: #fff;
    font-size: 16px;
    border: none;
    padding: 2px 40px;
    margin-top: 25px;
    width: 220px;
}

.set_print{
    min-height:50px;
    max-height:80px;
    overflow: auto;
}